.table {
    margin-top: 20px;
    overflow: scroll;
    height: 200px;
    color: #0c060677;
    font-weight: bold;
    font-size: 17px;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table td {
    padding: 0.5rem;
}

.table tr:nth-of-type(odd){
    background-color:#8a9ea0;
}